* {
    margin: 0;
    padding: 0;
  }
  
  img{
    width: 100%;
    height: auto;
  }
  
  .slider-box {
    /* max-width: 960px; */
    /* width: 99vw; */
    /* width: 100%; */
    margin: 0;
  }
  
  .slider-box ul {
    list-style: none;
  }
  
  .main-img {
    /* max-height: 480px; */
    height: 100vh;

  }
  
  .main-img img {
    /* max-height: 480px; */
    height: 100vh;

    object-fit: cover;

  }
  
  .thumb-img {
    display: flex;
    justify-content: center;
  }
  
  .thumb-img img {
    max-height: 90px;
    opacity: .6;
    transition: all .6s ease;
  }
  
  .thumb-img .view img {
    opacity: 1;
  }
  
  .thumb-img .view {
    position: relative;
  }
  
  .thumb-img .view::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid #f00;
    position: absolute;
    top: 0;
    left: 0;
  }
 .modulos {
      display: flex;
      font-size: 80px;
      margin-left: 80px;
  }